archivosCSV/combined_data_1.txt
archivosCSV/combined_data_2.txt
archivosCSV/combined_data_4.txt
archivosCSV/movie_titles.csv
archivosCSV/combined_data_3.txt
archivosCSV/probe.txt
archivosCSV/qualifying.txt
bdsql.sql
config_db.json
netflix_full_with_titles.csv
netflix.csv
sql_load_script.sql
output_dw/dim_fecha.csv
output_dw/dim_usuario.csv
output_dw/dim_pelicula.csv
output_dw/fact_rating.csv
